.main, .header, .footer{
  max-width: var(--max-width);
  margin: 2rem auto; 
  background-color: var(--light-gray);
  padding: 0.6rem;
}

.header, .footer {
  border-bottom: 0.2rem solid var(--main-color);
}

.header {
  display: flex;
  flex-flow: row wrap;
}

.header figure {
  padding: 0.8rem;
}

.footer p {
  margin: 2rem;
  font-size: 1.2rem;
}

.main {
  min-height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.h2, .h1 {
  margin: 2rem 1rem;
}

/* pagination */
.pagination {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0.4rem 0;
  margin: 1rem;
}

@media screen and (min-width: 940px) {
  .pagination {
    padding: 1.8rem 0;
  }
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.05rem solid var(--medium-gray);
  background-color: var(--white);
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
}

@media screen and (min-width: 940px) {
  .pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.05rem solid var(--medium-gray);
    background-color: var(--white);
    width: 5rem;
    height: 5rem;
    font-size: 1.4rem;
  }
}

.pagination li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  color: var(--black);
  transition: all 0.25s ease-in;
}

.pagination li:hover, 
.pagination li a:hover,
.highlight {
  color: var(--foreground);
  font-size: 2.4rem;
  background-color: var(--main-color);
  border-bottom: 0.4rem solid var(--black);
  box-shadow: var(--shadow);
}

/* List */
.list {
  list-style: none;
  margin: 1rem;
}

.list li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.8rem;
  margin: 0.8rem 0;
  border: 0.05rem solid transparent;
  border-bottom: 0.1rem solid var(--main-color);
  background-color: var(--white);
  transition: all 0.5s;
  font-size: 1.2rem;
}

.list li:hover {
  border: 0.05rem solid var(--dark-gray);
  background-color: var(--secondary-color);
  transform: scale(1.01);
  color: var(--foreground);
  font-weight: 600;
  box-shadow: var(--shadow);
}

.list li span {
  display: inline-block;
  width: 7.8rem;
}

.list li span:nth-child(2) {
  width: 20rem;
}

.list li span:nth-child(3), .list li span:nth-child(4) {
  margin-top: 0.6rem;
}

@media screen and (min-width: 580px) {
  .list li span:nth-child(3), .list li span:nth-child(4) {
    margin-top: 0;
  }
}

@media screen and (min-width: 940px) {
  .list li span {
    display: inline-block;
    width: 6.8rem;
  }

  .list li span:nth-child(2) {
    width: 3rem;
  }
}

.list li span img {
  margin-right: 0.4rem;
}

.list li:nth-child(even) {
  background-color: var(--extralight-gray);
}

.list li:nth-child(even):hover {
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
}

/* generic */

.error {
  background-color: var(--warning);
  color: var(--white);
  padding: 1rem;
  font-size: 1.8rem;
}

.loading {
  font-size: 1.8rem;
}
